.reg-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  overflow: hidden;
}
.buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 50px;
}
.reg-card,
.custom-input {
  margin-top: 100px;
  border-radius: 60px;
}
