/* index.css */
body, html, #root {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: #ccc;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
