.step-four {
  height: 571px;
  width: 327px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.comfort-selection,
.lessons-selection {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.price-range-selection,
.experience-selection {
  display: flex;
  justify-content: space-between;
}

.comfort-card,
.lessons-card,
.price-range-card,
.experience-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}

.comfort-card {
  width: 85px;
  height: 112px;
  margin-left: -10px;
}

.lessons-card,
.price-range-card,
.experience-card {
  width: 30px;
  height: 32px;
}

.selected {
  border-color: rgb(167, 111, 110);
  box-shadow: 10px;
  transition: border-color 0.3s ease;
}

.comfort-selection-img {
  margin-top: 40px;
}
/* .ant-slider-track {
  background-color: brown !important;
}

.ant-slider-handle::after {
  box-shadow: 0 0 0 2px brown !important;
}
/* 
.ant-slider-step  */

/* :where(.css-dev-only-do-not-override-1pg9a38).ant-slider:hover
  .ant-slider-dot-active {
  border-color: brown;
}

:where(.css-dev-only-do-not-override-1pg9a38).ant-slider
  .ant-slider-dot-active {
  border-color: brown;
} */ */
