.step-four {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.comfort-selection,
.lessons-selection {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.price-range-selection,
.experience-selection {
  display: flex;
  justify-content: space-between;
}

.comfort-card,
.lessons-card,
.price-range-card,
.experience-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}

.comfort-card {
  width: 85px;
  height: 112px;
  margin-left: -10px;
}

.lessons-card,
.price-range-card,
.experience-card {
  width: 30px;
  height: 32px;
}

.selected {
  border-color: rgb(167, 111, 110);
  box-shadow: 10px;
  transition: border-color 0.3s ease;
}

.comfort-selection-img {
  margin-top: 40px;
}
