.selects-container {
  width: 240px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.custom-select .ant-select-selector {
  border-radius: 30px;
  background-color: rgb(167, 111, 110);
  border-color: rgb(167, 111, 110);
}

.upload-file{
  position: absolute;
  top: 201px;
  margin-left: 210px;
}
.document-input{
  cursor: pointer;
  border-radius: 32px;
  width: 231px;
  height: 28px;
  border-width: 1px;
  border-color: rgb(233, 232, 232);
}