.selects-container {
  width: 240px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.custom-input .ant-input {
  border-radius: 30px !important;
  border-start-end-radius: 0 !important;
  border-end-end-radius: 0 !important;
}
.custom-input .ant-input-group-addon {
  border-radius: 30px;
  border-start-start-radius: 0;
  border-end-start-radius: 0;
  padding: 0 5px;
}
.custom-select .ant-select-selector {
  border-radius: 30px;
  background-color: rgb(167, 111, 110);
  border-color: rgb(167, 111, 110);
  padding: 7px 10px;
}
