.upload-file {
  display: flex;
  align-items: center;
  width: 150px;
}

.upload-icon-container {
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.upload-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.customFile{
  position: relative;
  top: 9px;
  left: 275px;
}
.imager{
  overflow: hidden;
  opacity: 0;
}
.editing{
  position: relative;
  left: 210px;
  top: 110px;
}