.upload-file {
  margin: 0;
  padding: 0;
}

.upload-icon-container {
  cursor: pointer;
  width: 18px;
  height: 18px;
}

.upload-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
