.days-container {
  display: flex;
  flex-direction: row;
  gap: 7px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.days-container .ant-btn {
  width: 34px;
  height: 30px;
  cursor: pointer;
  z-index: 10;
}

.days-container .ant-btn:hover {
  border: 1px solid #a76f6e !important;
  background-color: rgb(245, 245, 245);
  color: #a76f6e !important;
  cursor: pointer;
}

.days-container .ant-btn.ant-btn-primary {
  background-color: rgb(167, 111, 110);
  border: 1px solid #a76f6e;
}

.days-container .ant-btn.ant-btn-primary:hover {
  background-color: rgb(157, 101, 100);
  border: 1px solid #a76f6e;
  color: #ffffff !important;
}

.times-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 10px;
  padding-bottom: 10px;
}

.times-container .ant-btn {
  width: 45px;
  height: 30px;
  cursor: pointer;
}
.times-container .ant-btn:hover {
  border: 1px solid #a76f6e !important;
  background-color: rgb(245, 245, 245);
  color: #a76f6e !important;
}
.times-container .ant-btn.ant-btn-primary {
  background-color: rgb(167, 111, 110);
  border: 1px solid #a76f6e;
}

.times-container .ant-btn.ant-btn-primary:hover {
  background-color: rgb(157, 101, 100);
  border: 1px solid #a76f6e;
}
.custom-avatar img {
  width: 100% !important;
  height: auto !important;
}
