/* FilePondCustom.css */
.filepond--label-action {
  font-size: 1px;
 }
 .filepond--root {
 width: 0px;
 height: 0px;
 cursor: pointer;
 }
 .filepond--file-wrapper{
   position: absolute;
   left: -200px;
   top: 67px;
   right: 50px;
 }
 .filepond--file-status{
   opacity: 0;
   display: none;
 }
 .filepond--file-info{
  opacity: 0;
 }
 
 .filepond--file-info-main .filepond--file-status {
   display: none !important;
 }
 .filepond--file-action-button filepond--action-remove-item::after{
   position: absolute;
   display: none;
 }
 .filepond--progress-indicator filepond--load-indicatore{
   font-size:0px;
   display: none !important;
 }
 /* Скрыть стандартные иконки FilePond */
 .filepond--item-panel {
   display: none; /* Скрыть панель элементов */
 }
 .filepond--wrapper{
   width: 0px;
 }
 .filepond--drop-label{
   height: 0px;
 }
 
 /* Оставить только иконку загрузки и удаления */
 .filepond--drop-label {
   display: flex;
   align-items: center;
   justify-content: center;
 
   background-size: contain;
   width: 15px; /* Ширина вашего SVG */
   height: 15px; /* Высота вашего SVG */
   margin-top: 63px;
   left: -15px;
 }
 
 /* Стили для области предпросмотра изображений */
 .filepond--item {
   position: relative;
   width: 50px; /* Ширина вашего SVG */
   height: 50px; /* Высота вашего SVG */
 }
 
 /* Скрыть надпись, если файл загрузился */
 .filepond--item-panel {
   display: none; /* Скрыть панель предпросмотра */
 }
 
 
 
 
 .filepond--action-remove-item{
   margin-left: 150px;
 }
