header {
  text-align: center;
  margin-top: 1px;
  background-color: transparent !important;
}
.header h1 {
  height: 38px;
  width: 327px;
  font-size: 29px;
  font-weight: 490px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: -1px;
  background-color: transparent !important;
}
