header {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 25px;
  background-color: transparent !important;
}
.header h1 {
  font-size: 29px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  letter-spacing: -1px;
  background-color: transparent !important;
}
